<mat-list fxLayout="column" fxLayoutAlign="center">
  <mat-card *ngFor="let article of articles" class="container article">
    <div class="article__image">
      <img mat-card-image style="width: 150px;"
           src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg"
           alt="Angular Logo"
      >
    </div>
    <div class="article__body">
      <div class="article__header">
        <mat-card-title>{{article.title}}</mat-card-title>
        <mat-card-subtitle>
          {{article.description}}
        </mat-card-subtitle>
      </div>
      <div class="article__content">
        <mat-card-content>
          <p>
            {{article.content}}
          </p>
        </mat-card-content>
        <div class="article__options">
          <mat-card-footer>
            Author: {{article.author}}
            <mat-icon>how_to_reg
            </mat-icon>
            Views: {{ article.views}}
            <mat-icon>remove_red_eye
            </mat-icon>
          </mat-card-footer>
        </div>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="openArticle(article)">
            <mat-icon>
              launch
            </mat-icon>
            open
          </button>
        </mat-card-actions>
      </div>
    </div>

  </mat-card>
</mat-list>
