mat-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article{
  justify-self: start;
}

.article__header{
  display: inline;
}

.article__options,
mat-card-subtitle,
mat-card-title{
  padding: 0 0 0 18px;
}

mat-icon{
  padding: 5px 0 0 0;
}
.article__body{
  display: flex;
  flex-direction: column;
  padding: 10px 0 -50px 0;
}

.article__content{
  display: flex;
  flex-direction: column;

  div{
    justify-content: space-around;
  }
}

mat-card-footer{
  align-items: end;
}

mat-card-actions{
  justify-content: end;
}

